*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: SUSE, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: min(max(1rem, 128px), 22px);
}


.hero-section {
    background: no-repeat left 30% url("/media/sketches/hero-section-image v6-nobg.svg"),
        linear-gradient(180deg, #f8b500 20%, #fceabb 50% );

}


/*----*/